vs
bin
.bin
.suo
obj
.vs
.vsidx
.sln
ConsoleApp2/.vs
.v2
.suo
.futdcache.v2
consoleapp2.metadata.v7.bin
.suo
ConsoleApp2/.vs/ConsoleApp2/v17/.futdcache.v2
ConsoleApp2/.vs/ConsoleApp2/v17/.suo
ConsoleApp2/.vs/ProjectEvaluation/consoleapp2.metadata.v7.bin
ConsoleApp2/.vs/ProjectEvaluation/consoleapp2.projects.v7.bin